html,
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	opacity: 1;
	z-index: 1;
	background: linear-gradient(-34deg, #3a0567, #051017);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
	font-family: 'Nasalisation';
	src: url('../../public/fonts/nasalization-free.regular.ttf') format('truetype');
}

.starGridWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	z-index: 0;
	position: absolute;
}

.flexStyling {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gridForBigScreen {
	width: 10vw;
	height: 10vh;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gridForSmallScreen {
	width: 20vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.animateStar {
	animation: changeOpacityAndRotate 0.1s 5 forwards;
}

@keyframes changeOpacityAndRotate {
	25% {
		opacity: 0;
		transform: scaleX(1) rotateX(0deg);
	}
	50% {
		opacity: 1;
		transform: scaleX(3) rotateX(60deg);
	}
	75% {
		opacity: 0.2;
		transform: scaleX(0.5) rotateX(60deg);
	}
	100% {
		opacity: 0.2;
		transform: scaleX(1) rotateX(0deg);
	}
}

.star {
	background-image: url('../../public/images/star1.png');
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(40deg);
	width: 20px;
	height: 20px;
	opacity: 0.3;
}
.minijet {
  width: 50px;
  height: 20px;
  object-fit: cover;
  position: absolute;
  left: 0vh;
}
